:host {
  .table-style {
    border-bottom: 0;
    border-radius: 8px;
    overflow: hidden;
  }

  .table-border {
    border-left: 1px solid rgba(240, 240, 240, 100%);
    border-right: 1px solid rgba(240, 240, 240, 100%);
  }

  .icon-set {
    height: 22px;
    width: 22px;
  }

  .copy-id {
    margin-left: 4px;
    flex-shrink: 0;
  }

  .no-data-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
