<div class="create-space">
  <form [formGroup]="myForm">
    <nz-form-item>
      <nz-form-label [nzRequired]="true" style="width: 90px">{{ 'space_name' | i18nextEager }}</nz-form-label>
      <nz-form-control [nzErrorTip]="nameErrorTpl">
        <input class="w-full" nz-input formControlName="space_name" maxlength="65" />
        <ng-template #nameErrorTpl let-control>
          @if (control.hasError('maxlength')) {
            {{ '名称的最大长度为64个字符' }}
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label style="width: 90px">{{ 'space_description' | i18nextEager }}</nz-form-label>
      <nz-form-control [nzErrorTip]="descErrorTpl">
        <textarea class="w-full" nz-input placeholder="{{ 'pls_enter' | i18nextEager }}" maxlength="257" formControlName="space_description"></textarea>
        <ng-template #descErrorTpl let-control>
          @if (control.hasError('maxlength')) {
            {{ '名称的最大长度为256个字符' }}
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzRequired]="true" style="width: 90px">{{ 'space_avatar' | i18nextEager }}</nz-form-label>
      <nz-form-control>
        <div class="upload-avatar">
          <div *ngIf="myForm.value.logo" class="event-log-container">
            <img alt="" [src]="getIcon(myForm.value.logo)" class="upload-avatar" />
            <span (click)="editLogo()" class="delete-box">
              <em class="cloudx cloudx-action-edit"></em>
            </span>
          </div>
          <nz-upload
            *ngIf="!myForm.value.logo"
            [ngClass]="{ 'is-logo-error': logoIsError }"
            nzType="select"
            [nzBeforeUpload]="beforeUpload"
            [nzLimit]="1"
            nzName="avatar"
            nzListType="picture-card"
            [nzShowUploadList]="false"
            nzAccept=".jpg,.jpeg,.png,.gif"
          >
            <button nz-button type="button">
              <em nz-icon nzType="upload"></em>
              {{ '上传' }}
            </button>
          </nz-upload>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
<div *nzModalFooter>
  <button type="button" nz-button id="cancel" (click)="dismiss()">
    {{ 'cancel' | i18nextEager }}
  </button>
  <button type="button" nz-button id="ok" class="ml-[8px]" nzType="primary" [nzLoading]="btnLoading" [disabled]="isConfirmBtnDisabled()" (click)="submit()">
    {{ 'ok' | i18nextEager }}
  </button>
</div>
