<div class="modal-container pb-2 pt-2">
  <div class="flex items-center mb-6">
    <span nz-icon nzType="exclamation-circle" nzTheme="fill" style="color: #faad14; font-size: 22px" class="mr-2"></span>
    <span class="text-[16px] font-semibold text-[#191919]">{{ title }}</span>
  </div>

  <div class="mb-[16px] text-[14px] text-[#191919]">{{ tip }}</div>

  <div class="mb-[8px] text-[14px] text-[#595959]">
    {{ 'sure_delete_pls_enter' | i18nextEager }} <strong class="font-bold">DELETE</strong>
    <span class="input-link" (click)="configWord = 'DELETE'">{{ 'one_click_input' | i18nextEager }}</span>
  </div>

  <input nz-input class="w-full h-[32px] mb-8" type="text" [(ngModel)]="configWord" [placeholder]="confirmText" />
</div>
<div *nzModalFooter>
  <button nz-button nzType="default" class="min-w-[72px]" (click)="dismiss()">
    {{ 'cancel' | i18nextEager }}
  </button>
  <button nz-button nzType="primary" class="min-w-[72px]" (click)="delete()" [disabled]="configWord !== confirmText" [nzLoading]="loading">
    {{ 'ok' | i18nextEager }}
  </button>
</div>
