<nz-content class="bg-[#ffffff] assert-banner" [ngStyle]="{ paddingLeft: !isShowDom ? '0px' : '', paddingRight: !isShowDom ? '0px' : '' }">
  <!-- 数字员工：嵌入智能体管理（单智能体） -->
  <div *ngIf="expertTopTab === ExpertTopTab.DIGITAL_EMPLOYEE || digitalEmployeeActivated" [hidden]="expertTopTab !== ExpertTopTab.DIGITAL_EMPLOYEE">
    <meta-application-management appType="agent"></meta-application-management>
  </div>

  <!-- 数字小队：嵌入智能体管理（多智能体） -->
  <div *ngIf="expertTopTab === ExpertTopTab.DIGITAL_SQUAD || digitalSquadActivated" [hidden]="expertTopTab !== ExpertTopTab.DIGITAL_SQUAD">
    <meta-application-management appType="controller"></meta-application-management>
  </div>
</nz-content>
