<div class="flex h-full w-full flex-col">
  <div class="drawer-header mb-[16px] block">
    {{ getModalTitle() | i18nextEager }}
  </div>

  <div class="drawer-body flex-1 overflow-auto">
    <nz-spin [nzSpinning]="isLoadingParams">
      <div class="h-full w-full overflow-auto">
        <div class="plugin-info-modal">
          <img alt="" class="tool-common-icon" [src]="detail.icon || detail.avatar"/>
          <div style="margin-left: 10px">
            <div class="plugin-name">{{ detail?.tool_chinese_name || detail?.name }}</div>
            <div class="plugin-desc">{{ detail.desc }}</div>
          </div>
        </div>

        <meta-acc-block class="mt-4 block w-full" [title]="'input_params' | i18nextEager">
          <ng-template #content>
            <div class="flex flex-sub-no-auto items-center gap-[5px] mt-[16px] ml-[24px]" style="padding-bottom: 8px; border-bottom: 1px solid #eee;width: calc(100% - 24px)">
              <div class="flex text-label overflow-ellipsis ml-[-24px]" [style]="{ width: getTableWidth().nameTitle }">
                {{ 'param_name' | i18nextEager }}
              </div>
              <div class="flex text-label overflow-ellipsis" [style]="{ width: getTableWidth().description }">
                {{ 'description' | i18nextEager }}
              </div>
              <div class="overflow-ellipsis" [style]="{ width: getTableWidth().required }">
                {{ 'required' | i18nextEager }}
              </div>
              <div class="overflow-ellipsis" [style]="{ width: getTableWidth().default }">
                {{ 'default_v' | i18nextEager }}
              </div>
              <div *ngIf="type !== 'mcp'" [style]="{ width: getTableWidth().visibility }" class="flex align-center">
                <span>
                  {{ 'responsestepcomponent_1073' | i18nextEager }}
                </span>
                <span nz-tooltip [nzTooltipTitle]="'plugin-config-modal_2' | i18nextEager" class="ml-1">
                <nz-icon nzType="question-circle" nzTheme="outline"/>
               </span>
              </div>
            </div>
            <form *ngIf="inputs?.length" #inputForm="ngForm">
              <nz-tree class="input-tree" [nzData]="inputs" nzBlockNode>
                <ng-template #nzTreeTemplate let-node let-i="index">
                  <div class="my-2 flex flex-sub-no-auto gap-[5px] w-[100%]" style="align-items: flex-start; border-radius: 2px">
                    <div class="self-center" nz-tooltip [nzTooltipTitle]="node.origin.name" [style]="{ width: getTableWidth().name }">
                      <p class="w-[95%] text-label text-ellipsis overflow-ellipsis !mb-0" nz-tooltip [nzTooltipTitle]="node.origin.name">{{ node.origin.name }}</p>
                    </div>
                    <div class="self-center" [style]="{ width: getTableWidth().description }">
                      <p class="w-[95%] text-label text-ellipsis overflow-ellipsis !mb-0" nz-tooltip [nzTooltipTitle]="node.origin.description">{{ node.origin.description }}</p>
                    </div>
                    <div class="self-center overflow-ellipsis" style="color: rgb(25, 25, 25)" [style]="{ width: getTableWidth().required }">
                      {{ getRrequired(node.origin.showRequired) }}
                    </div>
                    <div class="flex" [style]="{ width: getTableWidth().default }">
                      <div class="flex h-fit items-start w-[95%]">
                        <div class="flex w-full">
                          <div class="w-[35%]">
                            <nz-select
                              class="combo-select-left"
                              style="width: 100%"
                              [name]="'inputFormType_' + node.origin.name"
                              [nzOptions]="node.origin.options"
                              [(ngModel)]="node.origin.value.type"
                              nzPlaceHolder=""
                              [nzDisabled]="node.origin.isDisabled"
                              (ngModelChange)="onInputValueTypeChange(node.origin)"
                            ></nz-select>
                          </div>
                          <div class="w-[65%]" [ngClass]="{ 'obj-diabled': node.origin.isDisabled }">
                            <ng-container *ngIf="node.origin.value.type === 'literal'">
                              <div class="w-full">
                                <input
                                  class="combo-select-right"
                                  *ngIf="node.origin.type === 'string'"
                                  style="width: 100%"
                                  type="text"
                                  nz-input
                                  [name]="'inputFormValue_' + node.origin.name"
                                  [nonEmptyValidator]="node.origin.required && type !== 'mcp' && node.origin.depth === 0 && !node.origin.visibility"
                                  [disabled]="node.origin.isDisabled"
                                  [placeholder]="'input_placeholder' | i18nextEager"
                                  [(ngModel)]="node.origin.value.content"
                                  [title]="node.origin.value.content"
                                  [class.input-error]="type !== 'mcp' && node.origin.depth === 0 && !node.origin.visibility && inputForm?.controls['inputFormValue_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValue_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValue_' + node.origin.name]?.touched)"
                                />
                                <div
                                  *ngIf="node.origin.type === 'string' && type !== 'mcp' && node.origin.depth === 0 && !node.origin.visibility && inputForm?.controls['inputFormValue_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValue_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValue_' + node.origin.name]?.touched)"
                                  class="error-tip">
                                  {{ inputForm?.controls['inputFormValue_' + node.origin.name]?.errors?.serviceName?.tiErrorMessage }}
                                </div>
                              </div>

                              <typed-json-input
                                [ngClass]="{ 'obj-diabled': node.origin.isDisabled }"
                                *ngIf="isArrOrObj(node.origin.type)"
                                [param]="node.origin"
                                [isValidated]="node.origin.isDisabled ? false : isValidated"
                              ></typed-json-input>

                              <nz-select
                                *ngIf="node.origin.type === 'boolean'"
                                class="combo-select-right"
                                style="width: 100%"
                                [name]="'inputFormValue' + i"
                                [nzOptions]="booleanOps"
                                [(ngModel)]="node.origin.value.content"
                                [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                                [nzAllowClear]="true"
                              >
                              </nz-select>

                              <div class="w-full relative" *ngIf="node.origin.type === 'number'">
                                <input
                                  class="combo-select-right"
                                  [name]="'inputFormValueNum_' + node.origin.name"
                                  style="width: 100%"
                                  [placeholder]="'input_placeholder' | i18nextEager"
                                  type="text"
                                  nz-input
                                  [(ngModel)]="node.origin.value.content"
                                  [title]="node.origin.value.content"
                                  [nonEmptyValidator]="type !== 'mcp' && node.origin.depth === 0 && !node.origin.visibility"
                                  numberStr
                                  [disabled]="node.origin.isDisabled"
                                  [class.input-error]="type !== 'mcp' && !node.origin.visibility && inputForm?.controls['inputFormValueNum_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValueNum_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueNum_' + node.origin.name]?.touched)"
                                />
                                <div
                                  *ngIf="type !== 'mcp' && !node.origin.visibility && inputForm?.controls['inputFormValueNum_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValueNum_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueNum_' + node.origin.name]?.touched)"
                                  class="error-tip">
                                  {{ inputForm?.controls['inputFormValueNum_' + node.origin.name]?.errors?.serviceName?.tiErrorMessage }}
                                </div>
                              </div>

                              <div class="w-full relative" *ngIf="node.origin.type === 'integer'">
                                <input
                                  class="combo-select-right"
                                  [name]="'inputFormValueInt_' + node.origin.name"
                                  style="width: 100%"
                                  [placeholder]="'input_placeholder' | i18nextEager"
                                  type="text"
                                  nz-input
                                  [(ngModel)]="node.origin.value.content"
                                  [title]="node.origin.value.content"
                                  [nonEmptyValidator]="type !== 'mcp' && node.origin.depth === 0 && !node.origin.visibility"
                                  [disabled]="node.origin.isDisabled"
                                  integerStr
                                  [class.input-error]="type !== 'mcp' && !node.origin.visibility && inputForm?.controls['inputFormValueInt_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValueInt_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueInt_' + node.origin.name]?.touched)"
                                />
                                <div
                                  *ngIf="type !== 'mcp' && !node.origin.visibility && inputForm?.controls['inputFormValueInt_' + node.origin.name]?.invalid && (inputForm?.controls['inputFormValueInt_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueInt_' + node.origin.name]?.touched)"
                                  class="error-tip">
                                  {{ inputForm?.controls['inputFormValueInt_' + node.origin.name]?.errors?.serviceName?.tiErrorMessage }}
                                </div>
                              </div>
                            </ng-container>
                            <div class="w-full" *ngIf="node.origin.value.type === 'ref' || node.origin.value.type === 'input_ref'">
                              <nz-tree-select
                                style="width: 100%"
                                [nzNodes]="node.origin.refs"
                                [ngModel]="node.origin._refSelectedKey"
                                (ngModelChange)="onRefSelectChange($event, node.origin)"
                                [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                                [name]="'inputFormValueRef_' + node.origin.name"
                                [nzDropdownMatchSelectWidth]="false"
                                [nzDisabled]="node.origin.isDisabled"
                                [nzPlacement]="'bottomRight'"
                                [nzDisplayWith]="displayWithFn"
                                [nzTreeTemplate]="refTreeSelectTpl"
                                nzTreeRefSelectedRequire
                                [class.input-error]="type !== 'mcp' && node.origin.depth === 0 && inputForm?.controls['inputFormValueRef_' + node.origin.name]?.invalid && (isValidated || inputForm?.controls['inputFormValueRef_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueRef_' + node.origin.name]?.touched)"
                              >
                              </nz-tree-select>
                              <div
                                *ngIf="type !== 'mcp' && node.origin.depth === 0 && inputForm?.controls['inputFormValueRef_' + node.origin.name]?.invalid && (isValidated || inputForm?.controls['inputFormValueRef_' + node.origin.name]?.dirty || inputForm?.controls['inputFormValueRef_' + node.origin.name]?.touched)"
                                class="error-tip">
                                {{ inputForm?.controls['inputFormValueRef_' + node.origin.name]?.errors?.serviceName?.tiErrorMessage }}
                              </div>
                            </div>
                            <ng-template #refTreeSelectTpl let-node let-origin="origin">
                              <span class="flex items-center justify-between w-full">
                                <span class="max-w-[100px] overflow-hidden text-ellipsis whitespace-nowrap" nz-tooltip [nzTooltipTitle]="node.title">{{ node.title }}</span>
                                <span *ngIf="origin?.type || origin?.input_type"
                                      class="ml-[4px] shrink-0 rounded-[2px] bg-[#f5f5f5] px-[4px] text-[12px] leading-5 text-[#191919]">{{ origin.type || origin.input_type | paramLabel }}</span>
                              </span>
                            </ng-template>

                            <div class="w-full" #valueWrapper></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="self-center" *ngIf="type !== 'mcp'" [style]="{ width: getTableWidth().visibility }">
                      <nz-switch
                        *ngIf="node.origin.depth === 0"
                        class="mr-2"
                        [name]="'visibility_' + node.origin.name"
                        (ngModelChange)="onNgModelChange($event, node.origin)"
                        [(ngModel)]="node.origin.visibility"
                      ></nz-switch>
                    </div>
                  </div>
                </ng-template>
              </nz-tree>
            </form>
            <div *ngIf="inputs?.length <= 0" style="margin-top: 24px">
              <app-new-common-no-data-with-btn [type]="'noData'" [firstLineData]="'no_data' | i18nextEager"/>
            </div>
          </ng-template>
        </meta-acc-block>

        <meta-acc-block *ngIf="outputParams?.length" class="mt-4 block w-full" [title]="'output_params' | i18nextEager">
          <ng-template #content>
            <nz-tree id="node-param-tree" [nzData]="outputParams" nzBlockNode>
              <ng-template #nzTreeTemplate let-node let-i="index">
                <div class="ml-[2px] mt-[8px] flex w-full items-center gap-3 leading-none">
                  <span class="text-[#595959]">{{ node.origin.name }}</span>
                  <span class="flex h-[18px] items-center justify-center rounded-sm bg-[#F5F5F5] pl-[8px] pr-[8px]">{{ getType(node.origin) }}</span>
                </div>
              </ng-template>
            </nz-tree>
          </ng-template>
        </meta-acc-block>
      </div>
    </nz-spin>
  </div>

  <div class="drawer-footer shrink-0 border-t border-[#e1e5eb] px-[20px] py-[16px]">
    <div class="flex justify-end gap-2">
      <button type="button" nz-button (click)="dismiss()">
        {{ 'cancel' | i18nextEager }}
      </button>
      <button [disabled]="isFlowReadonly || inputParams?.length <= 0" type="button" nz-button nzType="primary" (click)="onConfirm()" [nzLoading]="loading">
        {{ 'ok' | i18nextEager }}
      </button>
    </div>
  </div>
</div>

<ng-template #inputParamsTipTmpl3 let-context="context">
  <div style="display: flex; align-items: center; gap: 4px">
    <span>{{ getName(context).key }}</span>
    <span style="padding: 0 4px; background: #eee">{{ getName(context).type }}</span>
    <span>{{ getName(context).value }}</span>
  </div>
</ng-template>
