<ng-template #defaultConfigModal>
  <div class="drawer-header">
    <span>{{ 'default_knowledge_base_config'|i18nextEager }}</span>
  </div>
  <div class="drawer-body">
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="formfield-wrapper" *ngIf="openjiuwenEnabled">
        <div class="formfield-title">{{ 'knowledge_base_type'|i18nextEager }}</div>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzLg]="24">{{ 'type_selection'|i18nextEager }}</nz-form-label>
          <nz-form-control>
            <nz-radio-group
              [(ngModel)]="kbTypeSelected"
              [ngModelOptions]="{standalone: true}"
              (ngModelChange)="changeKbType($event)"
            >
              <label nz-radio-button *ngFor="let item of kbTypeList" [nzValue]="item.value">
                {{ item.label }}
              </label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="formfield-wrapper" *ngIf="!isOpenJiuwen">
        <div class="formfield-title">{{ 'authentication_mode'|i18nextEager }}</div>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzLg]="24">{{ 'mode_selection'|i18nextEager }}</nz-form-label>
          <nz-form-control>
            <nz-radio-group
              [(ngModel)]="modeSelected"
              (ngModelChange)="changeMode($event)"
              formControlName="auth_mode"
            >
              <label nz-radio-button *ngFor="let mode of modeList" [nzValue]="mode.value">
                {{ mode.label }}
              </label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="formfield-wrapper" *ngIf="!isOpenJiuwen">
        <div class="formfield-title">{{ 'connection_info'|i18nextEager }}</div>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzLg]="24">{{ 'service_address'|i18nextEager }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'enter_correct_service_address'|i18nextEager">
            <input
              nz-input
              formControlName="endpoint"
              [placeholder]="'enter_service_address'|i18nextEager"
              style="width: 100%"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="showAuth">
          <nz-form-label [nzSpan]="24" [nzLg]="24">{{ 'authentication_token'|i18nextEager }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'enter_authentication_token'|i18nextEager">
            <nz-input-password>
              <input nz-input [placeholder]="'enter_authentication_token'|i18nextEager" formControlName="authorization" />
            </nz-input-password>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="24" [nzLg]="24">{{ 'enable_ocr' | i18nextEager }}</nz-form-label>
          <nz-form-control>
            <div style="display: flex; align-items: center;">
              <nz-switch (ngModelChange)="changeOcrEnable($event)" formControlName="ocr_enable"></nz-switch>
              <span style="margin-left: 8px;">{{ocrEnableText}}</span>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
    <button *ngIf="showAuth && !isOpenJiuwen" nz-button nzType="default" (click)="testConnection()">
      {{ 'test_connection'|i18nextEager }}
    </button>
  </div>
  <div class="drawer-footer">
    <button nz-button nzType="default" id="cancel" (click)="dismiss()">
      {{ 'cancel' | i18nextEager }}
    </button>
    <button
      nz-button
      nzType="primary"
      style="margin-left: 8px"
      id="ok"
      (click)="closeAndSaveConfig()"
    >
      {{ 'ok' | i18nextEager }}
    </button>
  </div>
</ng-template>
