<div *nzModalTitle>{{ title }}</div>
<div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <nz-alert *ngIf="srcData.data.length" class="alert-text" nzType="warning" [nzShowIcon]="false" [nzDescription]="descriptionTemplate1">
        <ng-template #descriptionTemplate1>
          {{ alertText }}
        </ng-template>
      </nz-alert>
      <div *ngIf="srcData.data.length" class="flex flex-col gap-2">
        <span class="font-semibold">{{ 'reference_ist' | i18nextEager }}</span>
        <nz-table
          [nzData]="srcData.data"
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzScroll]="{y:'300px'}"
        >
          <thead>
            <tr>
              <th *ngFor="let column of columns">
                {{ column.title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of srcData.data">
              <td>
                <a nz-tooltip class="cursor-pointer" (click)="navigateAppDetail(row)">
                  {{ row.app_name }}
                </a>
              </td>
              <td>{{ row.app_version || ('unpublished' | i18nextEager) }}</td>
              <td>{{ row.app_type | refTypeToText }}</td>
            </tr>
          </tbody>
        </nz-table>
        <div style="margin-top: 24px; display: flex; justify-content: space-between; align-items: center">
          <span>{{ 'total_number_of_records' | i18nextEager }}：{{ totalNumber }}</span>
          <nz-pagination
            [(nzPageIndex)]="currentPage"
            [nzTotal]="totalNumber"
            [(nzPageSize)]="pageSize.size"
            [nzPageSizeOptions]="pageSize.options"
            nzShowSizeChanger
            (nzPageIndexChange)="getMappingsByPage()"
            (nzPageSizeChange)="getMappingsByPage()"
          >
          </nz-pagination>
        </div>

        <div style="gap: 8px; display: flex; flex-direction: column">
          <div>
            <span>如您确定要删除，请输入<b style="margin: 0px 6px">DELETE</b></span>
            <a (click)="deleteVal = 'DELETE'">一键输入</a>
          </div>
          <div>
            <input [style]="{ 'border-color': errorClass ? '#ff4d4f !important' : '' }" nz-input [(ngModel)]="deleteVal" />
          </div>
          @if (errorClass) {
            <div style="color: #ff4d4f; font-size: 12px">请完整输入“DELETE”</div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<div *nzModalFooter>
  <nz-space>
    <button type="button" nz-button (click)="dismiss()">
      {{ 'cancel' | i18nextEager }}
    </button>
    <button nzType="primary" nzDanger type="button" nz-button (click)="onConfirm()">
      {{ 'ok' | i18nextEager }}
    </button>
  </nz-space>
</div>
