<div class="flex h-full w-full flex-col" (keydown)="handleKeyDown($event)">
  <div class="mb-[16px] block">
    <div class="flex w-[calc(100%-38px)] items-center justify-between">
      <div class="flex w-[calc(100%-105px)] items-center gap-[8px]">
        <img class="model-config-icon" [src]="icon" alt="api-node" />

        <form #nameForm="ngForm" class="flex w-[calc(100%-32px)] items-center gap-3">
          <edit-name [(name)]="nodeInfo.name" (onBlurConfirm)="updateName()"> </edit-name>

          <div class="h-[12px] w-[1px] bg-desc"></div>

          <div class="mt-[2px] flex-1 text-xs font-normal text-desc truncate" nz-tooltip nzTheme="light" [nzTooltipTitle]="originalName">
            {{ originalName }}
          </div>
        </form>
      </div>

      <div class="flex items-center gap-[16px]" *ngIf="!isFlowReadonly">
        <div (click)="onClickTest()" class="single-test-icon-modal" nz-tooltip [nzTooltipTitle]="'single-test' | i18nextEager"></div>
        <div class="cursor-pointer" nz-tooltip [nzTooltipTitle]="'icon-more' | i18nextEager">
          <div nz-dropdown [nzDropdownMenu]="actionsMenu" nzTrigger="click" class="pw-three-dots-more-modal">
            <span nz-icon nzType="more" nzTheme="outline"></span>
          </div>
          <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
            <ul nz-menu>
              <li *ngFor="let action of actions" nz-menu-item (click)="onClickAction(action)">{{ action.label }}</li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="h-[16px] w-[1px] bg-[#dbdbdb]"></div>
      </div>
    </div>
    <node-description
      [nodeInfo]="nodeInfo"
      (descriptionChange)="updateView()"
      [originDescription]="nodeInfo.configs?.original_info?.description"
    ></node-description>
    <!-- 配额和鉴权提示 -->
    <nz-alert
      *ngIf="quotaConfig"
      class="mt-[10px] !w-full"
      [nzType]="quotaConfig.type === 'warn' ? 'warning' : 'error'"
      [nzMessage]="quotaConfig.text"
      nzShowIcon
    ></nz-alert>
    <div *ngIf="quotaConfig" class="mt-[4px]">
      <a (click)="handleClickAddAuthConfig($event)">{{ 'configAuth' | i18nextEager }}</a>
    </div>
    <div class="mt-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>
  </div>

  <div id="flow-api-modal-body" class="relative h-full w-full overflow-auto flex-1 pr-[16px]">
    <div class="h-full w-full overflow-auto">
      <meta-acc-block class="mt-2 block w-full" [title]="'request_header' | i18nextEager" *ngIf="isShowHeaders">
        <ng-template #content>
          <div class="mt-2 flex items-center">
            <div class="mr-[5px] flex w-[25%] text-label">
              {{ 'param_name' | i18nextEager }}
            </div>
            <div class="mr-[5px] w-[calc(75%-10px)] text-label">
              {{ 'type' | i18nextEager }}
            </div>
          </div>

          <form #inputForm="ngForm">
            <ng-container *ngFor="let param of inputParams; index as i">
              <div class="mt-2 flex" *ngIf="param.location === 'Headers'">
                <div class="mr-1 flex h-[28px] w-[25%] items-center gap-1 text-label">
                  <div class="flex max-w-[calc(100%-20px)] items-center">
                    <span nz-tooltip [nzTooltipTitle]="param.name" class="truncate min-w-0">
                      {{ param.name }}
                    </span>
                    <span *ngIf="!param.required" class="shrink-0 whitespace-nowrap">{{ 'optional' | i18nextEager }}</span>
                  </div>
                  <span
                    nz-icon
                    nzType="question-circle"
                    nzTheme="outline"
                    *ngIf="param.description"
                    nz-tooltip
                    [nzTooltipTitle]="param.description"
                    style="font-size: 16px; cursor: pointer; color: #808080"
                  ></span>
                </div>
                <div class="flex w-[calc(75%-10px)]">
                  <div class="flex h-fit w-full items-center">
                    <div class="flex w-full">
                      <div class="w-[30%]">
                        <nz-select
                          class="combo-select-left"
                          style="width: 100%"
                          [name]="'inputFormType' + i"
                          [nzOptions]="param.options"
                          [(ngModel)]="param.value.type"
                          nzLabelKey="value"
                          (ngModelChange)="onInputValueTypeChange(param)"
                        ></nz-select>
                      </div>

                      <div class="w-[70%]">
                        <ng-container *ngIf="param.value.type === 'literal'">
                          <input
                            class="combo-select-right"
                            *ngIf="param.type === 'string'"
                            style="width: 100%"
                            type="text"
                            [name]="'inputFormValueStr' + i"
                            nz-input
                            [nonEmptyValidator]="param.required"
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            [class.input-error]="inputForm?.controls['inputFormValueStr' + i]?.invalid && (inputForm?.controls['inputFormValueStr' + i]?.dirty || inputForm?.controls['inputFormValueStr' + i]?.touched)"
                          />
                          <div *ngIf="inputForm?.controls['inputFormValueStr' + i]?.invalid && (inputForm?.controls['inputFormValueStr' + i]?.dirty || inputForm?.controls['inputFormValueStr' + i]?.touched)" class="error-tip">
                            {{inputForm?.controls['inputFormValueStr' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>

                          <typed-json-input
                            *ngIf="isArrOrObj(param.type)"
                            [param]="param"
                            [isValidated]="isValidated"
                            (changeValue)="onSave()"
                          ></typed-json-input>

                          <nz-select
                            *ngIf="param.type === 'boolean'"
                            class="combo-select-right"
                            style="width: 100%"
                            [name]="'inputFormValueBool' + i"
                            [nzOptions]="booleanOps"
                            [(ngModel)]="param.value.content"
                            [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                            nzAllowClear
                            (ngModelChange)="onSave()"
                            nzLabelKey="value"
                          >
                          </nz-select>

                          <input
                            *ngIf="param.type === 'number'"
                            class="combo-select-right"
                            [name]="'inputFormValueNum' + i"
                            style="width: 100%"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            type="text"
                            nz-input
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            nonEmptyValidator
                            numberStr
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [class.input-error]="inputForm?.controls['inputFormValueNum' + i]?.invalid && (inputForm?.controls['inputFormValueNum' + i]?.dirty || inputForm?.controls['inputFormValueNum' + i]?.touched)"
                          />
                          <div *ngIf="inputForm?.controls['inputFormValueNum' + i]?.invalid && (inputForm?.controls['inputFormValueNum' + i]?.dirty || inputForm?.controls['inputFormValueNum' + i]?.touched)" class="error-tip">
                            {{inputForm?.controls['inputFormValueNum' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>

                          <input
                            *ngIf="param.type === 'integer'"
                            class="combo-select-right"
                            [name]="'inputFormValueInt' + i"
                            style="width: 100%"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            type="text"
                            nz-input
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            nonEmptyValidator
                            integerStr
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [class.input-error]="inputForm?.controls['inputFormValueInt' + i]?.invalid && (inputForm?.controls['inputFormValueInt' + i]?.dirty || inputForm?.controls['inputFormValueInt' + i]?.touched)"
                          />
                          <div *ngIf="inputForm?.controls['inputFormValueInt' + i]?.invalid && (inputForm?.controls['inputFormValueInt' + i]?.dirty || inputForm?.controls['inputFormValueInt' + i]?.touched)" class="error-tip">
                            {{inputForm?.controls['inputFormValueInt' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>
                        </ng-container>

                        <input-tree-select
                          *ngIf="param.value.type === 'ref'"
                          style="width: 100%"
                          [(ngModel)]="param.value.content"
                          [options]="param.refs"
                          [name]="'inputFormValueRef' + i"
                          refSelectedRequire
                          [placeholder]="'select_placeholder' | i18nextEager"
                          (select)="treeSelect()"
                        ></input-tree-select>

                        <div class="w-full" #valueWrapper></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </form>
        </ng-template>
      </meta-acc-block>
      <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]" *ngIf="isShowHeaders"></div>

      <meta-acc-block class="mt-2 block w-full" [title]="'input_params' | i18nextEager">
        <ng-template #content>
          <div class="mt-2 flex items-center">
            <div class="mr-[5px] flex w-[25%] text-label">
              {{ 'param_name' | i18nextEager }}
            </div>
            <div class="mr-[5px] w-[calc(75%-10px)] text-label">
              {{ 'type' | i18nextEager }}
            </div>
          </div>

          <form #inputFormContent="ngForm">
            <ng-container *ngFor="let param of inputParams; index as i">
              <div class="mt-2 flex" *ngIf="param.location !== 'Headers'">
                <div class="mr-1 flex h-[28px] w-[25%] items-center gap-1 text-label">
                  <div class="flex max-w-[calc(100%-20px)] items-center">
                    <span nz-tooltip [nzTooltipTitle]="param.name" class="truncate min-w-0">
                      {{ param.name }}
                    </span>
                    <span *ngIf="!param.required" class="shrink-0 whitespace-nowrap">{{ 'optional' | i18nextEager }}</span>
                  </div>
                  <span
                    nz-icon
                    nzType="question-circle"
                    nzTheme="outline"
                    *ngIf="param.description"
                    nz-tooltip
                    [nzTooltipTitle]="param.description"
                    style="font-size: 16px; cursor: pointer; color: #808080"
                  ></span>
                </div>
                <div class="flex w-[calc(75%-10px)]">
                  <div class="flex h-fit w-full items-center">
                    <div class="flex w-full">
                      <div class="w-[30%]">
                        <nz-select
                          class="combo-select-left"
                          style="width: 100%"
                          [name]="'inputFormType' + i"
                          [nzOptions]="param.options"
                          [(ngModel)]="param.value.type"
                          nzLabelKey="value"
                          (ngModelChange)="onInputValueTypeChange(param)"
                        ></nz-select>
                      </div>

                      <div class="w-[70%]">
                        <ng-container *ngIf="param.value.type === 'literal'">
                          <input
                            class="combo-select-right"
                            *ngIf="param.type === 'string'"
                            style="width: 100%"
                            type="text"
                            [name]="'inputFormContentStr' + i"
                            nz-input
                            [nonEmptyValidator]="param.required"
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            [class.input-error]="inputFormContent?.controls['inputFormContentStr' + i]?.invalid && (inputFormContent?.controls['inputFormContentStr' + i]?.dirty || inputFormContent?.controls['inputFormContentStr' + i]?.touched)"
                          />
                          <div *ngIf="inputFormContent?.controls['inputFormContentStr' + i]?.invalid && (inputFormContent?.controls['inputFormContentStr' + i]?.dirty || inputFormContent?.controls['inputFormContentStr' + i]?.touched)" class="error-tip">
                            {{inputFormContent?.controls['inputFormContentStr' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>

                          <typed-json-input
                            *ngIf="isArrOrObj(param.type)"
                            [param]="param"
                            [isValidated]="isValidated"
                            (changeValue)="onSave()"
                          ></typed-json-input>

                          <nz-select
                            *ngIf="param.type === 'boolean'"
                            class="combo-select-right"
                            style="width: 100%"
                            [name]="'inputFormContentBool' + i"
                            [nzOptions]="booleanOps"
                            [(ngModel)]="param.value.content"
                            [nzPlaceHolder]="'select_placeholder' | i18nextEager"
                            nzAllowClear
                            nzLabelKey="value"
                            (ngModelChange)="onSave()"
                          >
                          </nz-select>

                          <input
                            *ngIf="param.type === 'number'"
                            class="combo-select-right"
                            [name]="'inputFormContentNum' + i"
                            style="width: 100%"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            type="text"
                            nz-input
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            nonEmptyValidator
                            numberStr
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [class.input-error]="inputFormContent?.controls['inputFormContentNum' + i]?.invalid && (inputFormContent?.controls['inputFormContentNum' + i]?.dirty || inputFormContent?.controls['inputFormContentNum' + i]?.touched)"
                          />
                          <div *ngIf="inputFormContent?.controls['inputFormContentNum' + i]?.invalid && (inputFormContent?.controls['inputFormContentNum' + i]?.dirty || inputFormContent?.controls['inputFormContentNum' + i]?.touched)" class="error-tip">
                            {{inputFormContent?.controls['inputFormContentNum' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>

                          <input
                            *ngIf="param.type === 'integer'"
                            class="combo-select-right"
                            [name]="'inputFormContentInt' + i"
                            style="width: 100%"
                            [placeholder]="'input_placeholder' | i18nextEager"
                            type="text"
                            nz-input
                            [(ngModel)]="param.value.content"
                            [title]="param.value.content"
                            nonEmptyValidator
                            integerStr
                            (ngModelChange)="changeUpdateTime()"
                            (blur)="inputOnSave()"
                            [class.input-error]="inputFormContent?.controls['inputFormContentInt' + i]?.invalid && (inputFormContent?.controls['inputFormContentInt' + i]?.dirty || inputFormContent?.controls['inputFormContentInt' + i]?.touched)"
                          />
                          <div *ngIf="inputFormContent?.controls['inputFormContentInt' + i]?.invalid && (inputFormContent?.controls['inputFormContentInt' + i]?.dirty || inputFormContent?.controls['inputFormContentInt' + i]?.touched)" class="error-tip">
                            {{inputFormContent?.controls['inputFormContentInt' + i]?.errors?.serviceName?.tiErrorMessage}}
                          </div>
                        </ng-container>

                        <input-tree-select
                          *ngIf="param.value.type === 'ref'"
                          style="width: 100%"
                          [(ngModel)]="param.value.content"
                          [options]="param.refs"
                          [name]="'inputFormContentRef' + i"
                          refSelectedRequire
                          [placeholder]="'select_placeholder' | i18nextEager"
                          (select)="treeSelect()"
                        ></input-tree-select>

                        <div class="w-full" #valueWrapper></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </form>
        </ng-template>
      </meta-acc-block>
      <div class="my-[16px] h-[1px] w-full bg-[#f0f0f0]"></div>

      <!-- 出参配置表格 -->
      <meta-acc-block class="mt-4 block w-full" [title]="'output_params' | i18nextEager">
        <ng-template #content>
          <nz-tree id="node-param-tree" [nzData]="outputParams" [nzTreeTemplate]="nzTreeTemplate">
            <ng-template #nzTreeTemplate let-node let-origin="origin">
              <div class="ml-[2px] mt-[8px] flex w-full items-center gap-3 leading-none">
                <span class="text-[#595959]">{{ origin.name }}</span>
                <span class="flex h-[18px] items-center justify-center rounded-sm bg-[#F5F5F5] pl-[8px] pr-[8px]">{{ getType(origin) }}</span>
              </div>
            </ng-template>
          </nz-tree>
        </ng-template>
      </meta-acc-block>

      <exception-handling #exceptionHandling [nodeInfo]="nodeInfo" (changeValue)="onSave()"></exception-handling>
    </div>
  </div>
</div>
