<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2025-2025. All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.manager.mapper.McpServerMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.manager.dto.McpServerInfo">
        <id column="server_id" jdbcType="VARCHAR" property="serverId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="server_name" jdbcType="VARCHAR" property="name"/>
        <result column="server_name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="server_desc" jdbcType="VARCHAR" property="desc"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="icon_name" jdbcType="VARCHAR" property="iconName"/>
        <result column="tools" jdbcType="VARCHAR" property="tools"/>
        <result column="visibility" jdbcType="VARCHAR" property="visibility"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="auth" jdbcType="VARCHAR" property="auth"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId"/>
        <result column="created_on" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_on" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="binding" jdbcType="BOOLEAN" property="binding" />
        <result column="config_status" jdbcType="VARCHAR" property="configStatus" />
        <association property="configs" javaType="com.openjiuwen.studio.agent.manager.dto.McpServerConfig">
            <id property="id" column="c_id"/>
            <result property="authKeys" column="c_auth_keys" typeHandler="com.openjiuwen.studio.agent.manager.mapper.handler.AuthKeyInfoListHandler"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        t_mcp.server_id,
        t_mcp.project_id,
        t_mcp.server_name,
        t_mcp.server_name_en,
        t_mcp.server_desc,
        t_mcp.icon,
        t_mcp.icon_name,
        t_mcp.tools,
        t_mcp.visibility,
        t_mcp.url,
        t_mcp.auth,
        t_mcp.type,
        t_mcp.category,
        t_mcp.creator,
        t_mcp.creator_id,
        t_mcp.created_on,
        t_mcp.updated_on
    </sql>
    <sql id="Config_Column_List">
        c.id as c_id,
        c.server_id as c_server_id,
        c.project_id as c_project_id,
        c.auth_keys as c_auth_keys,
        c.creator_id as c_creator_id
    </sql>
    <sql id="Mcp_Exist_Config">
        EXISTS (
                   SELECT 1 FROM t_mcp_config WHERE (server_id = t_mcp.server_id and creator_id = #{userId,jdbcType=VARCHAR} and project_id = #{projectId,jdbcType=VARCHAR})
               )
    </sql>
    <sql id="Select_Case_Para">
        CASE
            WHEN EXISTS (
                SELECT 1 FROM t_mapping WHERE (resource_id = t_mcp.server_id and resource_type = 'mcp')
            ) THEN '1' ELSE '0'
        END AS binding
    </sql>
    <sql id="Mcp_Config_Status">
        CASE
            WHEN type = 'custom' then 'none'
            WHEN category = 'public' then 'none'
            WHEN <include refid="Mcp_Exist_Config"/> THEN 'done' ELSE 'need'
        END AS config_status
    </sql>
    <sql id="Left_Join_Search">
        LEFT JOIN t_mcp_config c ON (c.creator_id=#{userId,jdbcType=VARCHAR}
        and c.server_id=t_mcp.server_id
        and c.project_id=#{projectId,jdbcType=VARCHAR})
    </sql>
    <insert id="insert" parameterType="com.openjiuwen.studio.agent.manager.dto.McpServerInfo">
        insert into t_mcp (server_id, project_id, server_name, server_name_en, server_desc, icon, tools, visibility, url, auth, type, category, creator, creator_id, icon_name)
        values (#{serverId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR},
                #{icon,jdbcType=VARCHAR}, #{tools,jdbcType=VARCHAR}, #{visibility,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{auth,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, #{iconName,jdbcType=VARCHAR})
    </insert>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="Config_Column_List"/>,
        <include refid="Select_Case_Para"/>,
        <include refid="Mcp_Config_Status"/>
        from t_mcp
        <include refid="Left_Join_Search"/>
        where t_mcp.server_id = #{serverId,jdbcType=VARCHAR}
        and (t_mcp.project_id = #{projectId,jdbcType=VARCHAR} or type = 'inner')
        and (visibility!='user' or t_mcp.creator_id=#{userId,jdbcType=VARCHAR})
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from t_mcp
        where server_id = #{serverId,jdbcType=VARCHAR}
          and project_id = #{projectId,jdbcType=VARCHAR}
          and (visibility!='user' or creator_id=#{userId,jdbcType=VARCHAR})
    </delete>
    <select id="selectBySearchCriteria" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="Config_Column_List"/>,
        <include refid="Select_Case_Para"/>,
        <include refid="Mcp_Config_Status"/>
        from  t_mcp
        <include refid="Left_Join_Search"/>
        where (t_mcp.project_id = #{projectId,jdbcType=VARCHAR} or type = 'inner')
        <if test="userId != null">
            and (visibility!='user' or t_mcp.creator_id=#{userId,jdbcType=VARCHAR})
        </if>
        <if test="searchCriteria != null and searchCriteria.type != null">
            and type = #{searchCriteria.type,jdbcType=VARCHAR}
        </if>
        <if test="searchCriteria != null and searchCriteria.activeStatus == 'active'">
            and (
            type = 'custom' or category = 'public' or <include refid="Mcp_Exist_Config"/>
            )
        </if>
        <if test="searchCriteria != null and searchCriteria.activeStatus == 'inactive'">
            and category = 'template' and NOT <include refid="Mcp_Exist_Config"/>
        </if>
        <if test="searchCriteria != null and searchCriteria.name != null">
            and server_name like concat('%', #{searchCriteria.name,jdbcType=VARCHAR}, '%')
        </if>
        order by
            CASE
                WHEN config_status IN ('done', 'none') THEN 0
                WHEN config_status = 'need' THEN 1
                ELSE 2
            END ASC,
        t_mcp.updated_on desc
    </select>
    <update id="updateById" parameterType="map">
        update t_mcp
        <set>
            <if test="updateValue.name != null">
                server_name = #{updateValue.name,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.nameEn != null">
                server_name_en = #{updateValue.nameEn,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.desc != null">
                server_desc = #{updateValue.desc,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.icon != null">
                icon = #{updateValue.icon,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.iconName != null">
                icon_name = #{updateValue.iconName,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.tools != null">
                tools = #{updateValue.tools,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.url != null">
                url = #{updateValue.url,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.auth != null">
                auth = #{updateValue.auth,jdbcType=VARCHAR},
            </if>
            <if test="updateValue.category != null">
                category = #{updateValue.category,jdbcType=VARCHAR}
            </if>
        </set>
        where server_id = #{serverId,jdbcType=VARCHAR}
        and project_id = #{projectId,jdbcType=VARCHAR}
        and (visibility!='user' or creator_id=#{userId,jdbcType=VARCHAR})
    </update>
    <select id="selectByMcpServerIds" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mcp
        where (project_id = #{projectId,jdbcType=VARCHAR} or type = 'inner')
        and server_id in
        <choose>
            <when test="mcpServerIds != null and mcpServerIds.size() > 0">
                <foreach collection="mcpServerIds" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </when>
            <when test="mcpServerIds == null or mcpServerIds.size() == 0">
                (null)
            </when>
        </choose>
    </select>
    <select id="selectById" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mcp
        where server_id = #{serverId,jdbcType=VARCHAR}
    </select>
    <select id="selectByProjectIdAndSearchCriteria" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mcp
        where project_id = #{projectId,jdbcType=VARCHAR}
        <if test="searchCriteria != null and searchCriteria.workspaceId != null">
            and workspace_id = #{searchCriteria.workspaceId,jdbcType=VARCHAR}
        </if>
        <if test="searchCriteria != null and searchCriteria.type != null">
            and type = #{searchCriteria.type,jdbcType=VARCHAR}
        </if>
        <if test="searchCriteria != null and searchCriteria.name != null">
            and server_name = #{searchCriteria.name,jdbcType=VARCHAR}
        </if>
        <if test="searchCriteria != null and searchCriteria.userId != null">
            and creator_id = #{searchCriteria.userId,jdbcType=VARCHAR}
        </if>
        <if test="searchCriteria != null and searchCriteria.id != null">
            and server_id = #{searchCriteria.id,jdbcType=VARCHAR}
        </if>
        order by updated_on desc
    </select>

    <select id="selectAll" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_mcp
    </select>
</mapper>
