<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.common.service.mapper.ResourceInstMapper">
    <resultMap id="baseColumns" type="com.openjiuwen.studio.common.service.entity.ResourceInstEntity">
        <result column="resource_id" jdbcType="VARCHAR" property="resourceId"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="domain_id" jdbcType="VARCHAR" property="domainId"/>
        <result column="instance_id" jdbcType="VARCHAR" property="instanceId"/>
        <result column="subproduct_code" jdbcType="VARCHAR" property="subproductCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="cbc_order_id" jdbcType="VARCHAR" property="cbcOrderId"/>
        <result column="subproduct_id" jdbcType="VARCHAR" property="subproductId"/>
        <result column="cloud_service_type" jdbcType="VARCHAR" property="cloudServiceType"/>
        <result column="region_id" jdbcType="VARCHAR" property="regionId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by_user_id" jdbcType="VARCHAR" property="createdByUserId"/>
        <result column="last_updated_date" jdbcType="TIMESTAMP" property="lastUpdatedDate"/>
        <result column="last_updated_by_user_id" jdbcType="VARCHAR" property="lastUpdatedByUserId"/>
    </resultMap>

    <sql id="baseColumns">
        resource_id
        ,
        parent_id,
        sku_code,
        domain_id,
        instance_id,
        subproduct_code,
        status,
        cbc_order_id,
        subproduct_id,
        cloud_service_type,
        region_id,
        project_id,
        created_date,
        created_by_user_id,
        last_updated_date,
        last_updated_by_user_id
    </sql>

    <select id="selectById">
        select *
        from t_common_reource_inst
        where resource_id = #{resourceId}
    </select>

    <select id="selectResourcesByDomainId">
        select *
        from t_common_reource_inst
        where domain_id = #{domainId}
          and status = #{status}
    </select>

    <insert id="insert" keyProperty="resource_id"
            parameterType="com.openjiuwen.studio.common.service.entity.ResourceInstEntity">
        insert into t_common_reource_inst (<include refid="baseColumns"></include>)
        values (
        #{param.resourceId},
        #{param.parentId},
        #{param.skuCode},
        #{param.domainId},
        #{param.instanceId},
        #{param.subproductCode},
        #{param.status},
        #{param.cbcOrderId},
        #{param.subproductId},
        #{param.cloudServiceType},
        #{param.regionId},
        #{param.projectId},
        #{param.createdDate},
        #{param.createdByUserId},
        #{param.lastUpdatedDate},
        #{param.lastUpdatedByUserId}
        )
    </insert>

    <update id="updateById">
        update t_common_reource_inst
        set parent_id = #{param.parentId},
            sku_code = #{param.skuCode},
            status = #{param.status},
            cbc_order_id = #{param.cbcOrderId},
            instance_id = #{param.instanceId},
            subproduct_code = #{param.subproductCode},
            subproduct_id = #{param.subproductId},
            cloud_service_type = #{param.cloudServiceType},
            last_updated_date = #{param.lastUpdatedDate},
            last_updated_by_user_id = #{param.lastUpdatedByUserId}
        where resource_id = #{param.resourceId} and domain_id = #{param.domainId}
    </update>

    <select id="selectBySkuCode">
        select *
        from t_common_reource_inst
        where domain_id = #{domainId}
          and sku_code = #{skuCode} and status = 'ACTIVE'
    </select>

    <select id="selectResources">
        select *
        from t_common_reource_inst
        where domain_id = #{domainId}
          and sku_code = #{skuCode} and status = #{status}
    </select>
</mapper>
