<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openjiuwen.studio.agent.manager.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.openjiuwen.studio.agent.manager.entity.Tag">
        <id column="tag_id" jdbcType="VARCHAR" property="tagId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="name_en" jdbcType="VARCHAR" property="nameEn"/>
        <result column="created_on" jdbcType="TIMESTAMP" property="createdOn"/>
        <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn"/>
    </resultMap>
    <sql id="Base_Column_List">
        tag_id
        ,
        name,
        name_en,
        created_on,
        updated_on
    </sql>
    <select id="select" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tag
        order by updated_on desc
    </select>
</mapper>
