.header {
  display: flex;
}

.header-title {
  margin-right: 8px;
}

.diff-wrapper {
  display: flex;
  flex-direction: column;
}

.diff-toolbar {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.version-select {
  width: 240px;
}

.select-div {
  width: 50%;
}