<form [formGroup]="parameterFromGroup" class="form-container" nz-form nzLayout="vertical">
  <nz-form-item
    class="formfield-style"
  >
    <!-- 开始节点的输入参数列表 -->
    <nz-form-item *ngFor="let inputItem of inputList; let i = index">
      <nz-form-label>
        <div class="flex items-center justify-between">
          <div class="flex-center-left">
            <span nz-typography nzEllipsis class="dynamic-param-label">
              {{ inputItem?.front_name || inputItem?.name }}
            </span>
            <span *ngIf="!inputItem.required">{{'optional' | i18nextEager }}</span>
            <nz-icon
              nzType="question-circle"
              nzTheme="outline"
              style="word-break: break-all"
              *ngIf="inputItem.description"
              nz-tooltip
              [nzTooltipTitle]="inputItem.description"
            />
            <span class="dynamic-param-type">
              {{ getType(inputItem) }}
            </span>
          </div>
          <button
            *ngIf="isShowMultiBtn(inputItem)"
            nz-button
            class="flex !w-[96px] justify-center ml-2"
            nzSize="small"
            [disabled]="inputItem.uploadDatas?.length >= 20 || isUploading"
            (click)="addMultiFile(i)"
          >
            <span class="flex items-center gap-[4px]">
              <nz-icon nzType="plus" nzTheme="outline" />
              {{ 'add' | i18nextEager }}
            </span
            >
          </button>
          <button
            *ngIf="inputItem.type?.includes('array<file') && inputItem.uploadDatas?.length"
            nz-button
            nzSize="small"
            class="flex !w-[96px] justify-center ml-2"
            nzDanger
            [disabled]="isUploading"
            nz-popconfirm
            [nzPopconfirmTitle]="'clear_uploaded_files_confirm' | i18nextEager"
            (nzOnConfirm)="clearMultiFiles(inputItem)"
          >
            <span class="flex items-center gap-[4px]">
              <nz-icon nzType="clear" nzTheme="outline" />
              {{ 'clear_uploaded_files' | i18nextEager }}
            </span>
          </button>
        </div>
      </nz-form-label>
      <nz-form-control>
        <!-- string类型的输入参数 -->
        <textarea
          resize="vertical"
          *ngIf="inputItem.type === 'string' && (uriType === 'startNode' || uriType ==='globalConfig')"
          class="textarea-content"
          class="noLeftMenuWidth"
          [cdkAutosizeMinRows]="1"
          [placeholder]="getPlaceholder(inputItem)"
          [formControlName]="inputItem.name"

          maxlength="100000"
          (input)="handleUserInput(inputItem.name, inputItem.required)"
          nz-input
          placeholder="Autosize height with minimum and maximum number of lines"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="6"
        >
      </textarea>
        <textarea
          *ngIf="inputItem.type === 'string' && uriType !== 'startNode'&& uriType !=='globalConfig'"
          class="textarea-content"
          class="noLeftMenuWidth"
          [cdkAutosizeMinRows]="1"
          [placeholder]="getPlaceholder(inputItem)"
          [formControlName]="inputItem.name"

          (input)="handleUserInput(inputItem.name, inputItem.required)"
          nz-input
          placeholder="Autosize height with minimum and maximum number of lines"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="6"
        >
      </textarea>
        <!-- integer类型的输入参数 -->
        <nz-input-number
          *ngIf="inputItem.type === 'integer'"
          class="number-content"
          [formControlName]="inputItem?.name"
          [nzPrecision]="0"
          (input)="handleUserInput(inputItem.name, inputItem.required)"
        ></nz-input-number>
        <!-- number类型的输入参数 -->
        <nz-input-number
          *ngIf="inputItem.type === 'number'"
          class="number-content"
          [formControlName]="inputItem?.name"
          (input)="handleUserInput(inputItem.name, inputItem.required)"
        ></nz-input-number>
        <!-- boolean类型的输入参数 -->
        <nz-switch
          *ngIf="inputItem.type === 'boolean'"
          [formControlName]="inputItem?.name"
        ></nz-switch>
        <!-- object类型的输入参数 -->
        <div class="editor-container" *ngIf="isShowEditor(inputItem.type)">
          <div class="editor-header">
            <span class="header-left">json</span>
            <asset-format-icon
              class="cursor-pointer"
              (click)="formatJson(inputItem.name)"
              [tiTip]="'format' | i18nextEager"
              tiTipPosition="top"
            ></asset-format-icon>
          </div>
          <ngx-monaco-editor
            #editor
            class="input-json-editor"
            [id]="inputItem.name + 'out'"
            [options]="editorOptions"
            [(ngModel)]="inputItem.controlValue"
            [ngModelOptions]="{ standalone: true }"
            [uri]="inputItem.modelUri"
          ></ngx-monaco-editor>
        </div>

        <div *ngIf="inputItem.type.startsWith('file')">
          <input
            type="file"
            #fileInput
            style="display:none"
            [multiple]="false"
            [accept]="inputItem.type | fileAcc"
            (change)="onUploadFile($event, inputItem, 'single')"
          />
          <div
            *ngIf="!inputItem.file && !inputItem?.uploadData?.name"
            (click)="fileInput.click()"
            class="dotted-frame flex w-full cursor-pointer flex-col items-center rounded-[8px] border-2 border-dotted border-[#c2c2c2] bg-[#fff] pb-[16px] pt-[16px]"
          >
            <div class="flex items-center">
              <img alt=""
                class="mr-[4px] mt-[6px]"
                [src]="changeUrl('assets/agent/file.svg')"
              />

              <div class="mt-[6px] flex">
                <div class="text-[14px] text-[#191919]">
                  {{ 'the_current_blank_document_please' | i18nextEager }}
                  {{ 'one_file_only' | i18nextEager }}
                </div>
              </div>
            </div>
            <div class="file-desc mt-[6px] text-[#808080]">
              {{ inputItem.type | fileDesc }}
            </div>
          </div>
          <div
            *ngIf="inputItem.file || inputItem?.uploadData?.name"
            class="flex w-full items-center rounded-[8px] border border-solid border-[#DBDBDB] bg-[#fff] p-[16px]"
          >
            <div
              class="mb-[8px] flex w-[100%] items-center rounded-[8px] bg-[#fafafa] p-[16px] pb-[9px] pt-[9px]"
            >
              <nz-spin *ngIf="inputItem.uploadData.progress === 'loading'"></nz-spin>
              <meta-upload-file-icon
                *ngIf="inputItem.uploadData.progress !== 'loading'"
                [fileName]="inputItem.uploadData.name"
              ></meta-upload-file-icon>
              <span
                class="ml-[12px]"
                [ngClass]="{
                'text-[#F23030]': inputItem.uploadData.progress === 'failed'
              }"
              >
              {{ inputItem.uploadData.name }}</span
              >
              <nz-icon nzType="delete" nzTheme="outline" class="ml-auto cursor-pointer text-[16px]" (click)="removeFile(inputItem)" />
            </div>
          </div>
          <div
            class="error-tip flex w-full items-center"
            *ngIf="inputItem?.uploadData?.progress === 'failed'"
          >
            <nz-icon nzType="delete" nzTheme="outline" class="mr-[6px] text-[#F23030]" />
            {{ 'a_file_upload_failed' | i18nextEager }}
            <div
              (click)="fileInput.click()"
              class="cursor-pointer text-[#1476ff] hover:underline"
            >
              {{ 'reupload' | i18nextEager }}
            </div>
          </div>
        </div>
        <!-- 多文件上传 -->
        <div #multiFile *ngIf="inputItem.type.includes('array\<file')">
          <input
            type="file"
            #fileInput
            style="display:none"
            [ngClass]="'input' + i"
            multiple="multiple"
            [accept]="inputItem.type | fileAcc"
            (change)="onUploadFile($event, inputItem)"
          />
          <div
            *ngIf="!inputItem.uploadDatas?.length"
            (click)="fileInput.click()"
            class="dotted-frame flex w-full cursor-pointer flex-col items-center rounded-[8px] border-2 border-dotted border-[#c2c2c2] bg-[#fff] pb-[16px] pt-[16px]"
          >
            <div class="flex items-center">
              <img alt=""
                class="mr-[4px] mt-[6px]"
                [src]="changeUrl('assets/agent/file.svg')"
              />

              <div class="mt-[6px] flex">
                <div class="text-[14px] text-[#191919]">
                  {{ 'the_current_blank_document_please' | i18nextEager }}
                  {{ 'upload_max_files' | i18nextEager }}
                </div>
              </div>
            </div>
            <div class="file-desc mt-[6px] text-[#808080]">
              {{ inputItem.type | fileDesc }}
            </div>
          </div>
          <div
            *ngIf="inputItem.uploadDatas?.length"
            class="flex w-full flex-col items-center rounded-[8px] border border-solid border-[#DBDBDB] bg-[#fff] p-[16px]"
          >
            <div
              *ngFor="let fileItem of inputItem.uploadDatas"
              class="mb-[8px] flex w-[100%] items-center rounded-[8px] bg-[#fafafa] p-[16px] pb-[9px] pt-[9px]"
              (mouseenter)="fileItem.isHover = true"
              (mouseleave)="fileItem.isHover = false"
            >
              <nz-spin
                *ngIf="fileItem.progress === 'loading'"
                nzSimple
              ></nz-spin>
              <meta-upload-file-icon
                *ngIf="fileItem.progress !== 'loading'"
                [fileName]="fileItem.name"
              ></meta-upload-file-icon>
              <span
                class="ml-[12px] min-w-0 flex-1 truncate"
                [ngClass]="{ 'text-[#F23030]': fileItem.progress === 'failed' }"
                nz-tooltip
                [nzTooltipTitle]="fileItem.name"
              >
              {{ fileItem.name }}</span
              >
              <nz-icon
                nzType="delete" nzTheme="outline" class="ml-auto cursor-pointer text-[16px]"
                [ngStyle]="{
                display: fileItem.isHover ? 'inline-block' : 'none'
              }"
                (click)="removeFile(inputItem, fileItem)"
                [ngClass]="{
                'disabled-delete': isUploading && inputIndex !== i
              }"
              />
            </div>
          </div>
        </div>

        <div class="error-tip" *ngIf="inputItem.isError">
          {{ 'correct_json' | i18nextEager }}
        </div>
        <div
          class="error-tip"
          *ngIf="
          inputItem.required &&
          inputItem.isEmpty &&
          inputItem?.uploadData?.progress !== 'failed'
        "
        >
          {{ inputItem.name }}{{ 'no_empty' | i18nextEager }}
        </div>
      </nz-form-control>
    </nz-form-item>
  </nz-form-item>
</form>
