<div
  *ngFor="let content of dialogHistoryUpdate; let i = index"
  class="chat-one-out-in"
>
  <div
    *ngIf="
      content.role === 'user' && isConversationContent(content);
      else answerContent
    "
    class="user-content chat-content"
  >
    <div *ngIf="content.image">
      <img alt="" class="msgImage" [src]="content.image"/>
    </div>
    <div class="flex gap-[12px]" *ngIf="content.content">
      <div class="content-text self-center">
        <ng-container *ngFor="let fileItem of content.uploadData">
          <!-- 展示上传的文件 -->
          <div class="uploaded-file" *ngIf="fileItem.type === 'file'">
            <meta-upload-file-icon
              [fileName]="fileItem.name"
            ></meta-upload-file-icon>
            <span nz-tooltip [nzTooltipTitle]="fileItem.name">{{ fileItem.name }}</span>
          </div>
          <!-- 展示上传的图片 -->
          <div class="uploaded-image" *ngIf="fileItem.type === 'image'">
            <img alt="" [src]="fileItem.url || fileItem.img"/>
          </div>
        </ng-container>
        <!-- 此处不能自动格式化保存，否则发送的用户问题开头会多一个空格，且使用trim无效 -->
        <div class="user-question-text" style="white-space: pre-wrap">{{
          getTrimmedQuestion(content.content)
          }}</div>
      </div>
    </div>
  </div>

  <ng-template #answerContent>
    <div *ngIf="content.role ==='assistant'" style="width: 100%;overflow-x: auto">
      <div class="collapse-btn"  *ngIf="content.plans && content.plans.length;else summary">
        <div class="flex" style="align-items: center;" *ngIf="content.status !='finished';else success">
          <img alt="" [src]="cdnUrl('assets/agent-center/images/running.webp')"/>
          <span>{{'plan_model.thinking' | i18nextEager}}</span>
        </div>
        <ng-template #success>
          <img alt="" [src]="cdnUrl('assets/agent-center/images/deep-success.svg')"/>
          <span>{{'plan_model.thinked' | i18nextEager}}</span>
        </ng-template>

        <div class="cursor-pointer ml-[5px]" (click)="handleCollapsedChat(content)">
          <span *ngIf="!content.collapsed" nz-icon nzType="up" nzTheme="outline"></span>
          <span *ngIf="content.collapsed" nz-icon nzType="down" nzTheme="outline"></span>
        </div>
      </div>
      <ng-container>
        <div class="answer-box" [style]="{'height':!content.collapsed?'auto':'0'}">
          <ng-container *ngFor="let answer of content.plans; let j = index">
            <ng-container *ngTemplateOutlet="
          childAnswerTmpl;
          context: { answer:answer,index:j }
        "></ng-container>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #summary>
        <div
          *ngIf="isConversationContent(content)  && ( content?.content || content?.inputList?.length || content?.cards?.length) && (!isError ||content.event !=='error'); else error"
          class="assistant-content chat-content"
        >
          <div class="cv-content"  [ngClass]="{'no-border':!hasTool || content.hasSummary}">
            <div class="flex w-full gap-[12px]">
              <div class="content-text w-full">
                <app-markdown-answer
                  *ngIf="content.content"
                  class="content markdown-no-bg"
                  [(answer)]="content.content"
                  [sourceMessage]="aiAnswerListService.aiAnswerList"
                  [isSupKBResolver]="true"
                ></app-markdown-answer>
                <div
                  class="input-node-params"
                  *ngIf="content?.isShowInputParams"
                >
                  <input-node-params
                    #inputNodeParams
                    *ngIf="content.inputList?.length"
                    [inputList]="content.inputList"
                    [disabled]="content.isConfirmed"
                    [chatItem]="content"
                    (fileUploadStatus)="
                                onFileUploadStatus($event, content)
                              "
                  ></input-node-params>
                  <button
                    *ngIf="content.inputList?.length"
                    style="width: fit-content"
                    type="button"
                    nz-button
                    nzType="primary"
                    (click)="onConfirm(content, content)"
                    [nz-tooltip]="
                                content.isConfirmed === 'not-prepared'
                                  ? ('waiting_for_file_upload_to_complete'
                                    | i18nextEager)
                                  : ''
                              "
                    [disabled]="
                                content.isConfirmed === 'confirmed' ||
                                content.isConfirmed === 'failed' ||
                                content.isConfirmed === 'not-prepared'
                              "
                  >
                    {{ 'determined' | i18nextEager }}
                  </button>
                </div>
                <div
                  *ngIf="content?.quoteList?.length"
                  class="flex flex-col gap-[8px] pb-[4px] pt-[15px]"
                >
                  <span class="text-[#808080]">
                    {{ 'answer_source' | i18nextEager }}({{
                    content?.quoteList?.length
                    }})
                  </span>
                  <div class="quote-container">
                    <div
                      *ngFor="let item of content.quoteList"
                      class="quote-list">
                      <asset-quote-icon></asset-quote-icon>
                      <span nz-tooltip [nzTooltipTitle]="item.document_name">{{ item.document_name }}</span>
                    </div>
                  </div>
                </div>

                <div
                  class="cv-time"
                  *ngIf="content.time_consumption || isFinished"
                >
                  <div *ngIf="sourceFiles?.length > 0" id="agent-base-source-detail">
                    <div *ngFor="let file of (sourceFiles | slice:0:5); let i = index"
                         class="source-detail-item">
                      <img [src]="cdnUrl(messageSourceFileMap.get(getFileExtension(file.document_name)))"
                           (click)="show(file)" class="file-icon" alt="">
                      <div (click)="show(file)" nz-tooltip [nzTooltipTitle]="file.document_name" class="detail-content">{{ file.document_name }}</div>
                      <button *ngIf="file?.file_id && file.knowledge_base_type === 'internal'"
                              nz-button
                              nzType="text"
                              (click)="downloadSourceFileFn(file)">
                        <span nz-icon nzType="download"></span>
                      </button>
                    </div>

                    <!-- 如果文件数量超过5个且未选择显示全部，则显示“点击更多” -->
                    <div *ngIf="sourceFiles.length > 5" (click)="showAllSourceFile()"
                         class="source-detail-item more-item">
                      <img class="file-icon" [src]="cdnUrl('assets/knowledge-center/search.svg')" alt="">
                      <div class="detail-content" nz-tooltip [nzTooltipTitle]="'all_source_documents'|i18nextEager">{{'all_source_documents'|i18nextEager}}</div>
                    </div>
                  </div>

                  <div class="flex">
                    <div
                      class="left"
                      *ngIf="content?.timeConsumptionStr?.overall_str"
                    >
                      <div [innerHTML]="content?.timeConsumptionStr?.overall_str | safeHtml"></div>
                    </div>
                    <div *ngIf="!isError" class="flex gap-[4px] split items-center">
                      <ng-container *ngIf="content.content && isFinished">
                        <div class="chat-footer-icon" nz-tooltip [nzTooltipTitle]="'copy' | i18nextEager" (click)="copy(content.content)">
                          <span nz-icon nzType="copy" nzTheme="outline" style="font-size: 16px;"></span>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="voiceEnable">
                        <button
                          *ngIf="soundState !== 'loading'"
                          class="chat-footer-icon"
                          type="button"
                          nz-button
                          nzType="text"
                          [disabled]="getText(content).length === 0"
                          [nz-tooltip]="'read_aloud' | i18nextEager"
                          (click)="onSoundOut(content)"
                        >
                          <span nz-icon nzType="sound" nzTheme="outline"
                            [class.!text-primary]="soundState === 'playing'"
                          ></span>
                        </button>
                        <span *ngIf="soundState === 'loading'"
                          nz-icon
                          nzType="loading"
                          nzTheme="outline"
                          class="!text-[16px]"
                        ></span>
                      </ng-container>
                      <ng-container *ngIf="supportFeedback && messageId">
                      <span
                        class="like-icon h-[16px] w-[16px] cursor-pointer"
                        [ngClass]="
                          content?.isLikeClicked ? 'like-solid' : 'like-icon'
                        "
                        (click)="likeAnswer(content)"
                      ></span>
                        <div
                          class="dislike-icon h-[16px] w-[16px] cursor-pointer"
                          [ngClass]="
                          content?.isDislikeClicked
                            ? 'dislike-solid'
                            : 'dislike-icon'
                        "
                          (click)="submitDislike(content)"
                        ></div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #error>
          <div *ngIf="content.content  && (!content?.thought || content?.thought.length !== 0)" class="mt-[24px]">
            <div class="error-content">{{content.content}}</div>
            <div
              class="cv-time flex"
              *ngIf="content.time_consumption"
            >
              <div
                class="left"
                *ngIf="content?.timeConsumptionStr?.overall_str"
              >
                <div [innerHTML]="content?.timeConsumptionStr?.overall_str | safeHtml"></div>
              </div>
            </div>
          </div>

        </ng-template>
      </ng-template>
    </div>
  </ng-template>
</div>




<ng-template let-answer="answer" let-index="index" #childAnswerTmpl>
  <div class="chat-border">
    <div *ngIf="!answer.id || (answer.id && answer.steps.length)"
         class="flex mb-[8px] answer-title">
      <span *ngIf="answer.status ==='finished'; else loading" nz-icon nzType="check-circle" nzTheme="outline"
               style="color:#c2c2c2;font-size: 16px"></span>
      <ng-template #loading>
        <nz-spin nzSize="small"></nz-spin>
      </ng-template>
      <div class="flex" style="align-items: center"  (click)="handleCollapsedChat(answer)">
        <div class="answer-title-text">{{answer.title}}</div>
        <ng-container *ngIf="index > 0">
          <span *ngIf="!answer.collapsed" nz-icon nzType="up" nzTheme="outline"></span>
          <span *ngIf="answer.collapsed" nz-icon nzType="down" nzTheme="outline"></span>
        </ng-container>

      </div>
    </div>
    <ng-container *ngIf="answer.steps">
      <div class="step-container" [ngClass]="{'mt-[8px]':!answer.collapsed}"  [style]="{'height':!answer.collapsed?'auto':'0'}">
        <div
          *ngFor="let item of answer.steps"
          class="plan-item">
          <span nz-tooltip [nzTooltipTitle]="item.step_name + ' ' + item.description"><span class="dot-black">•</span>{{ item.step_name }} {{item.description}}</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="answer.actionSteps">
      <div class="step-container" [ngClass]="{'mt-[8px]':!answer.collapsed}"  [style]="{'height':!answer.collapsed?'auto':'0'}">
        <div
          *ngFor="let item of answer.actionSteps"
          class="action-item">
          <span class="step-title" nz-tooltip [nzTooltipTitle]="item.title">{{ item.title }}</span>
          <div
            *ngFor="let action of item.actions"
           >
            <div class="action-info">
              <span nz-icon nzType="exclamation-circle" nzTheme="outline" style="font-size: 14px;margin-right: 2px"></span>
              <span nz-tooltip [nzTooltipTitle]="action.title">{{ action.title }}</span>
            </div>
            <div style="padding-left: 12px">
              <app-markdown-answer
                *ngIf="action.content"
                class="content markdown-node-font markdown-no-bg"
                [(answer)]="action.content"
              ></app-markdown-answer>
            </div>

          </div>
          <app-markdown-answer
            *ngIf="item.result_summary"
            class="summary markdown-no-bg"
            [(answer)]="item.result_summary"
          ></app-markdown-answer>
        </div>

      </div>
    </ng-container>
  </div>

</ng-template>

<ng-template #dislikeTip>
  <custom-popconfirm
    [type]="'agent'"
    (cancel)="cancelDislike()"
    (submit)="submitDisLikeFeedback($event)"
    (close)="closeDislikeTip()"
    (clickOutside)="closeDislikeTip()"
  ></custom-popconfirm>
</ng-template>
