.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.export-modal-container {
  padding: 8px;
}

.header {
  margin-bottom: 20px;
}

.main-container {
  ::ng-deep .ant-table-wrapper {
    background: #fff;
  }
}

.page-div {
  display: flex;
  align-items: center;
  color: rgba(25, 25, 25, 1);
  font-size: 14px;
  line-height: 18px;
}

.page-div-span {
  margin-right: 8px;
  padding-right: 8px;
}

.page-div-select {
  padding-left: 16px;
  border-left: 1px solid rgba(219, 219, 219, 1);
}
