.export-modal-container {
  .search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 100%;
  }

  .footer {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .page-div {
    display: flex;
    align-items: center;
    color: rgba(25, 25, 25, 1);
    font-size: 14px;
    line-height: 18px;
  }
  .page-div-span {
    margin-right: 8px;
    padding-right: 8px;
  }
  .page-div-select{
    padding-left: 16px;
    border-left: 1px solid rgba(219, 219, 219, 1);
  }
}
