.node-description {
  max-width: 100%;
  display: inline-block!important;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;

  &:hover {
    border-radius: 6px;
    background: #f0f0f0;
    padding: 0px 8px;
  }
}

.node-input {
  width: 100%;
}
